<?xml version="1.0"?>

<config>
    <modules>
        <Progos_Msp>
            <version>0.1.0</version>
        </Progos_Msp>
    </modules>
    <global>
        <models>
            <msp_cashondelivery>
                <rewrite>
                    <quote_total>Progos_Msp_Model_Quote_Total</quote_total>
                </rewrite>
            </msp_cashondelivery>
        </models>
    </global>
</config>