<?xml version="1.0"?>
<config>
    <modules>
        <Infomodus_Upslabel>
            <version>7.7.2</version>
        </Infomodus_Upslabel>
    </modules>
    <frontend>
        <routers>
            <upslabel>
                <use>standard</use>
                <args>
                    <module>Infomodus_Upslabel</module>
                    <frontName>upslabel</frontName>
                </args>
            </upslabel>
        </routers>
        <layout>
            <updates>
                <upslabel>
                    <file>upslabel.xml</file>
                </upslabel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Infomodus_Upslabel before="Mage_Adminhtml">Infomodus_Upslabel_Adminhtml</Infomodus_Upslabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales module="sales">
                <children>
                    <ups_pickup module="upslabel">
                        <title>UPS Pickup Service</title>
                        <sort_order>31</sort_order>
                        <action>adminhtml/upslabel_pickup</action>
                    </ups_pickup>
                    <ups_thirdparty module="upslabel">
                        <title>UPS Third party shippers</title>
                        <sort_order>32</sort_order>
                        <action>adminhtml/upslabel_account</action>
                    </ups_thirdparty>
                    <ups_list_of_label module="upslabel">
                        <title>UPS Shipping Labels</title>
                        <sort_order>33</sort_order>
                        <action>adminhtml/upslabel_lists</action>
                    </ups_list_of_label>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <upslabel>
                                            <title>UPS Label</title>
                                        </upslabel>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales module="sales">
                            <children>
                                <ups_pickup module="upslabel">
                                    <title>UPS Pickup Service</title>
                                    <sort_order>31</sort_order>
                                    <action>adminhtml/upslabel_pickup</action>
                                </ups_pickup>
                                <ups_thirdparty module="upslabel">
                                    <title>Third party shippers</title>
                                    <sort_order>32</sort_order>
                                    <action>adminhtml/upslabel_account</action>
                                </ups_thirdparty>
                                <ups_list_of_label module="upslabel">
                                    <title>UPS Shipping Labels</title>
                                    <sort_order>33</sort_order>
                                    <action>adminhtml/upslabel_lists</action>
                                </ups_list_of_label>
                                <upslabel module="upslabel">
                                    <title>UPS Label (show, create, delete)</title>
                                    <sort_order>34</sort_order>
                                    <action>adminhtml/upslabel_upslabel</action>
                                </upslabel>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <upslabel>
                    <file>upslabel.xml</file>
                </upslabel>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <upslabel_core_block_abstract_prepare_layout_before>
                        <class>upslabel/observer</class>
                        <method>initUpslabel</method>
                    </upslabel_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <ups_core_block_abstract_to_html_before_addbutton>
                        <class>upslabel/observer</class>
                        <method>addbutton</method>
                    </ups_core_block_abstract_to_html_before_addbutton>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_shipment_save_before>
                <observers>
                    <upslabel_sales_order_shipment_save_before>
                        <class>upslabel/observer</class>
                        <method>beforeSaveShipment</method>
                    </upslabel_sales_order_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <upslabel_sales_order_shipment_save_after>
                        <class>upslabel/observer</class>
                        <method>beforeShipment</method>
                    </upslabel_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_creditmemo_save_before>
                <observers>
                    <upslabel_sales_order_creditmemo_save_before>
                        <class>upslabel/observer</class>
                        <method>beforeSaveShipment</method>
                    </upslabel_sales_order_creditmemo_save_before>
                </observers>
            </sales_order_creditmemo_save_before>
            <sales_order_creditmemo_save_after>
                <observers>
                    <upslabel_sales_order_creditmemo_save_after>
                        <class>upslabel/observer</class>
                        <method>beforeCreditmemo</method>
                    </upslabel_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <controller_action_postdispatch>
                <observers>
                    <upslabel_sales_order_shipment_save>
                        <class>upslabel/observer</class>
                        <method>saveShipment</method>
                    </upslabel_sales_order_shipment_save>
                </observers>
            </controller_action_postdispatch>
        </events>
    </adminhtml>
    <global>
        <models>
            <upslabel>
                <class>Infomodus_Upslabel_Model</class>
                <resourceModel>upslabel_mysql4</resourceModel>
            </upslabel>
            <upslabel_mysql4>
                <class>Infomodus_Upslabel_Model_Mysql4</class>
                <entities>
                    <upslabel>
                        <table>upslabel</table>
                    </upslabel>
                    <pickup>
                        <table>upslabelpickup</table>
                    </pickup>
                    <account>
                        <table>upslabelaccount</table>
                    </account>
                    <labelprice>
                        <table>upslabelprice</table>
                    </labelprice>
                    <conformity>
                        <table>upslabelconformity</table>
                    </conformity>
                </entities>
            </upslabel_mysql4>
        </models>
        <resources>
            <upslabel_setup>
                <setup>
                    <module>Infomodus_Upslabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upslabel_setup>
            <upslabel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </upslabel_write>
            <upslabel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </upslabel_read>
        </resources>
        <blocks>
            <upslabel>
                <class>Infomodus_Upslabel_Block</class>
            </upslabel>
        </blocks>
        <helpers>
            <upslabel>
                <class>Infomodus_Upslabel_Helper</class>
            </upslabel>
        </helpers>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <ups_order_place_after>
                        <class>upslabel/observer</class>
                        <method>frontorderplace</method>
                    </ups_order_place_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <default>
        <upslabel>
            <testmode>
                <testing>1</testing>
            </testmode>
            <packaging>
                <packagingtypecode>02</packagingtypecode>
                <packagingdescription>Package</packagingdescription>

            </packaging>
            <shipping>
                <origin_shipment>United States Domestic Shipments</origin_shipment>
                <defaultshipmentmethod>03</defaultshipmentmethod>
                <shipmentdescription>1</shipmentdescription>
                <defaultshipper>1</defaultshipper>
                <defaultshipfrom>1</defaultshipfrom>
                <addtrack>1</addtrack>
                <saturday_delivery>0</saturday_delivery>
                <validate>1</validate>
            </shipping>
            <return>
                <frontend_customer_return>1</frontend_customer_return>
                <refundaccess>1</refundaccess>
                <refundaccess_weight>0</refundaccess_weight>
                <default_return>0</default_return>
                <default_return_method>03</default_return_method>
                <return_service_code>8</return_service_code>
            </return>
            <weightdimension>
                <weightunits>LBS</weightunits>
                <includedimensions>0</includedimensions>
                <unitofmeasurement>IN</unitofmeasurement>
                <attribute_code_width>width</attribute_code_width>
                <attribute_code_height>height</attribute_code_height>
                <attribute_code_length>length</attribute_code_length>
            </weightdimension>
            <ratepayment>
                <currencycode>USD</currencycode>
                <shipmentcharge>0</shipmentcharge>
                <negotiatedratesindicator>0</negotiatedratesindicator>
                <cod>0</cod>
                <additionalhandling>0</additionalhandling>
                <insured_automaticaly>0</insured_automaticaly>
                <invoicelinetotal>1</invoicelinetotal>
                <carbon_neutral>0</carbon_neutral>
                <dytytaxinternational>customer</dytytaxinternational>
            </ratepayment>
            <quantum>
                <qvn>0</qvn>
                <adult>0</adult>
            </quantum>
            <printing>
                <automatic_printing>0</automatic_printing>
                <printer>GIF</printer>
                <papersize>A5</papersize>
                <termal_width>6</termal_width>
                <termal_width_return>6</termal_width_return>
                <bulk_printing_all>0</bulk_printing_all>
                <print_with>1</print_with>
            </printing>
            <pickup>
                <RatePickupIndicator>Y</RatePickupIndicator>
                <PickupDateYear>0</PickupDateYear>
                <PickupDateMonth>0</PickupDateMonth>
                <PickupDateDay>0</PickupDateDay>
                <AlternateAddressIndicator>N</AlternateAddressIndicator>
                <ServiceCode>003</ServiceCode>
                <Quantity>1</Quantity>
                <DestinationCountryCode>US</DestinationCountryCode>
                <ContainerCode>01</ContainerCode>
                <UnitOfMeasurement>LBS</UnitOfMeasurement>
                <OverweightIndicator>N</OverweightIndicator>
                <PaymentMethod>01</PaymentMethod>
                <SpecialInstruction>No instructions</SpecialInstruction>
                <ReferenceNumber>Order : Customer</ReferenceNumber>
                <Notification>1</Notification>
            </pickup>
            <frontend_autocreate_label>
                <frontend_order_autocreate_label_enable>0</frontend_order_autocreate_label_enable>
            </frontend_autocreate_label>
            <bulk_create_labels>
                <bulk_shipping_methods>all</bulk_shipping_methods>
                <bulk_order_status>all</bulk_order_status>
            </bulk_create_labels>
            <additional_settings>
                <order_grid_column_enable>1</order_grid_column_enable>
                <shipment_grid_column_enable>1</shipment_grid_column_enable>
                <credit_grid_column_enable>1</credit_grid_column_enable>
            </additional_settings>
        </upslabel>
    </default>
</config>