<?xml version="1.0"?>

<config>
    <modules>
        <Progos_CSaleOrderCreate>
            <version>1.0</version>
        </Progos_CSaleOrderCreate>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Progos_CSaleOrderCreate before="Mage_Adminhtml">Progos_CSaleOrderCreate_Adminhtml</Progos_CSaleOrderCreate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
