<?xml version="1.0"?>
<config>
    <modules>
        <Progos_AgentComments>
            <version>0.1.0</version>
        </Progos_AgentComments>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <progos_agentcomments module="awrma">
                    <file>progos_agentcomments.xml</file>
                </progos_agentcomments>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <progos_agentcomments>
                <class>Progos_AgentComments_Helper</class>
            </progos_agentcomments>
        </helpers>
        <blocks>
            <progos_agentcomments>
                <class>Progos_AgentComments_Block</class>
            </progos_agentcomments>
                <adminhtml>
                    <rewrite>
                        <customer_edit_tab_view>Progos_AgentComments_Block_Adminhtml_Customer_Edit_Tab_View</customer_edit_tab_view>
                    </rewrite>
                </adminhtml>
        </blocks>
        <models>
            <progos_agentcomments>
                <class>Progos_AgentComments_Model</class>
                <resourceModel>progos_agentcomments_resource</resourceModel>
            </progos_agentcomments>
            <progos_agentcomments_resource>
                <class>Progos_AgentComments_Model_Resource</class>
                <entities>
                    <comments>
                        <table>progos_agentcomments_comments</table>
                    </comments>
                    <classification>
                        <table>progos_agentcomments_classification</table>
                    </classification>
                </entities>
            </progos_agentcomments_resource>
        </models>
        <resources>
            <progos_agentcomments_setup>
                <setup>
                    <module>Progos_AgentComments</module>
                </setup>
            </progos_agentcomments_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <progos_agentcomments before="Mage_Adminhtml">Progos_AgentComments_Adminhtml</progos_agentcomments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>