<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Partialindex>
            <version>0.1.1</version>
        </Progos_Partialindex>
    </modules>
    <admin>
        <routers>
            <partialindex>
                    <use>admin</use>
                    <args>
                        <module>Progos_Partialindex</module>
                        <frontName>partialindex</frontName>
                    </args>
            </partialindex>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <partialindex>
                    <file>partialindex.xml</file>
                </partialindex>
            </updates>
        </layout>
        <menu>
        <system>
            <children>
                <partialindexer>
                    <title>Partial Indexer</title>
                    <sort_order>97</sort_order>
                    <children>
                        <partial_index_list>
                            <title>Product Partial Indexer</title>
                            <action>partialindex/adminhtml_index</action>
                        </partial_index_list>
                    </children>   
                </partialindexer>
            </children>
        </system>
        </menu>
        <acl>
           <resources>
               <admin>
                   <children>
                       <system>
                           <children>
                               <config>
                                   <children>
                                       <progos_partialindex translate="title" module="partialindex">
                                           <title>Partial Index</title>
                                       </progos_partialindex>
                                   </children>
                               </config>
                           </children>
                       </system>
                   </children>
               </admin>
           </resources>
        </acl>
        <translate>
            <modules>
                <Progos_Partialindex>
                    <files>
                        <default>Progos_Partialindex.csv</default>
                    </files>
                </Progos_Partialindex>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <saveproductids>
                        <class>Progos_Partialindex_Model_Observer</class>
                        <method>updateMassAttributes</method>
                    </saveproductids>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_predispatch_adminhtml_ewpgrid_catalog_product_grid_saveField>
                <observers>
                    <addproductids>
                        <class>Progos_Partialindex_Model_Observer</class>
                        <method>addProductId</method>
                    </addproductids>
                </observers>
            </controller_action_predispatch_adminhtml_ewpgrid_catalog_product_grid_saveField>
        </events>
    </adminhtml>
        
    <global>
        <helpers>
            <partialindex>
                <class>Progos_Partialindex_Helper</class>
            </partialindex>
        </helpers>
        <models>
            <partialindex>
                <class>Progos_Partialindex_Model</class>
                <resourceModel>partialindex_resource</resourceModel>
            </partialindex>
            <catalog_resource>
                <rewrite>
                    <product_action>Progos_Partialindex_Model_Resource_Product_Action</product_action>
                    <product_indexer_price_configurable>Progos_Partialindex_Model_Resource_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
                </rewrite>
            </catalog_resource>
            <partialindex_resource>
                <class>Progos_Partialindex_Model_Resource</class>
                <entities>
                    <product_index>
                        <table>catalog_product_partialindex</table>
                    </product_index>
                </entities>
            </partialindex_resource>
            <index>
                <rewrite>
                    <indexer>Progos_Partialindex_Model_Index_Pure</indexer>
                </rewrite>
            </index>
            <index_resource>
                <rewrite>
                    <process>Progos_Partialindex_Model_Index_Resource_Pure</process>
                </rewrite>
            </index_resource>
        </models>
        <resources>
            <partialindex_setup>
                <setup>
                    <module>Progos_Partialindex</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partialindex_setup>
            <partialindex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partialindex_write>
            <partialindex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partialindex_read>
        </resources>
        <index>
            <indexer>
                <partialindex_product>
                    <model>partialindex/indexer</model>
                </partialindex_product>
            </indexer>
        </index>
    <events>
        <partialindex_reindex_products_after>
            <observers>
                <clean_partial_index>
                    <class>partialindex/observer</class>
                    <method>cleanPartialIndex</method>
                </clean_partial_index>
            </observers>
        </partialindex_reindex_products_after>
        <after_reindex_process_catalog_product_flat>
            <observers>
                <empty_partial_index>
                    <class>partialindex/observer</class>
                    <method>emptyPartialIndex</method>
                </empty_partial_index>
            </observers>
        </after_reindex_process_catalog_product_flat>
        <adminhtml_catalog_product_grid_prepare_massaction>
            <observers>
                <add_products_option_to_partial_indexer>
                    <class>partialindex/observer</class>
                    <method>prepareMassAction</method>
                </add_products_option_to_partial_indexer>
            </observers>
        </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
        <blocks>
            <partialindex>
                <class>Progos_Partialindex_Block</class>
            </partialindex>
        </blocks>
    </global>
    <default>
        <progos_partialindex>
            <index>                
                <isActive>1</isActive>                  
                <maxProductReindexed>200</maxProductReindexed>
                <disable_index>0</disable_index>
                <disable_process>0</disable_process>         
            </index>      
        </progos_partialindex>
    </default>
    <crontab>
        <jobs>
            <partialindex_cron>
                <schedule>
                    <config_path>progos_partialindex/index/schedule_index</config_path>      
		</schedule>
                <run><model>partialindex/observer::launchPartialReindex</model></run>
            </partialindex_cron>
            <updatespecialpriceproducts_cron>
                <schedule>
                   <cron_expr>0 1 * * *</cron_expr>    
		</schedule>
                <run><model>partialindex/observer::reindexSpecialPriceProducts</model></run>
            </updatespecialpriceproducts_cron>
            <startpecialpriceproducts_cron>
                <schedule>
                   <cron_expr>0 1 * * *</cron_expr>    
		</schedule>
                <run><model>partialindex/observer::startSpecialPriceProducts</model></run>
            </startpecialpriceproducts_cron>
            <price_indexer_missing_values_cron>
                <schedule>
                   <cron_expr>0 4 * * *</cron_expr>    
		</schedule>
                <run><model>partialindex/observer::processProductMissingPriceIndexer</model></run>
            </price_indexer_missing_values_cron>
        </jobs>
    </crontab>
</config>