<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Productexport>
            <version>0.1.1</version>
        </Progos_Productexport>
    </modules>
    <frontend>
        <routers>
            <progos_productexport>
                <use>standard</use>
                <args>
                    <module>Progos_Productexport</module>
                    <frontName>productexport</frontName>
                </args>
            </progos_productexport>
        </routers>
    </frontend>
    <global>
        <models>
            <progos_productexport>
                <class>Progos_Productexport_Model</class>
            </progos_productexport>
        </models>
        <helpers>
            <progos_productexport>
                <class>Progos_Productexport_Helper</class>
            </progos_productexport>
        </helpers>
        <blocks>
            <progos_productexport>
                <class>Progos_Productexport_Block</class>
            </progos_productexport>
        </blocks>
    </global>
    <crontab>
        <jobs>
            <progos_productexport>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>progos_productexport/cron::exprotcsv</model>
                </run>
            </progos_productexport>
        </jobs>
    </crontab>
</config>
