<?xml version="1.0"?>
<config>
    <modules>
        <Rewrite_PdfPro>
            <version>1.0</version>
        </Rewrite_PdfPro>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order>Rewrite_PdfPro_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
    </global>
</config>
