<?xml version="1.0"?>
<!--
/**
 * IDEALIAGroup srl
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@idealiagroup.com so we can send you a copy immediately.
 *
 * @category   Progos_CustomMenu
 * @package    Progos_CustomMenu
 * @copyright  Copyright (c) 2014 IDEALIAGroup srl (http://www.idealiagroup.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Progos_Custommenu>
            <version>0.1.0</version>
        </Progos_Custommenu>
    </modules>

    <global>
        <models>
            <progos_custommenu>
                <class>Progos_Custommenu_Model</class>
                <resourceModel>progos_custommenu_resource</resourceModel>
            </progos_custommenu>
            <progos_custommenu_resource>
                <class>Progos_Custommenu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>progos_custommenu_menu</table>
                    </menu>
                </entities>
            </progos_custommenu_resource>
        </models>
        <resources>
            <progos_custommenu_setup>
                <setup>
                    <module>Progos_Custommenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </progos_custommenu_setup>
        </resources>
    </global>
</config>