<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Api_Base>
            <version>0.1.0</version>
        </Progos_Api_Base>
    </modules>
    <global>
        <models>
            <api-base>
                <class>Progos_Api_Base_Model</class>
            </api-base>
        </models>
        <helpers>
            <api-base>
                <class>Progos_Api_Base_Helper</class>
            </api-base>
        </helpers>
    </global>
</config>