<?xml version="1.0"?>
<config>
    <modules>
        <Progos_CommerceExtensions>
            <version>0.1.0</version>
        </Progos_CommerceExtensions>
    </modules>
    <global>
        <helpers>
            <commerceextensions>
                <class>Progos_CommerceExtensions_Helper</class>
            </commerceextensions>
        </helpers>
        <models>
            <commerceextensions>
                <class>Progos_CommerceExtensions_Model</class>
                <resourceModel>commerceextensions_mysql4</resourceModel>
            </commerceextensions>
            <commerceextensions_productimportexport>
                <rewrite>
                    <convert_adapter_productimport>Progos_CommerceExtensions_Model_Convert_Adapter_Productimport</convert_adapter_productimport>
                </rewrite>
            </commerceextensions_productimportexport>
        </models>
    </global>
</config> 