<?xml version="1.0"?>
<!--
NOTICE OF LICENSE

This source file is subject to the SafeMageEULA that is bundled with this package in the file LICENSE.txt.

It is also available at this URL: http://www.safemage.com/LICENSE_EULA.txt

Copyright (c)  SafeMage (http://www.safemage.com/)
-->
<config>
    <tabs>
        <safemage translate="label" module="safemage_extensions">
            <label>[SAFEMAGE]</label>
            <sort_order>390</sort_order>
            <class>safemage-tab</class>>
        </safemage>
    </tabs>
    <sections>
        <safemage_extensions translate="label" module="safemage_extensions">
            <label>Extensions &amp; Contact</label>
            <tab>safemage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extension translate="label">
                    <label>Installed SafeMage Extensions</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>safemage_extensions/adminhtml_system_extension</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                </extension>
                <contact translate="label">
                    <label>Contact Form</label>
                    <frontend_type>text</frontend_type>
                    <comment>Contact SafeMage Support Team or visit [url] for additional information.</comment>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <name translate="label">
                            <label>Contact Name</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>safemage_extensions/system_config_backend_empty</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </name>
                        <email translate="label">
                            <label>Contact Email</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>safemage_extensions/system_config_backend_empty</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email>
                        <subject translate="label">
                            <label>Subject</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>safemage_extensions/system_config_backend_empty</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </subject>
                        <reason translate="label">
                            <label>Reason</label>
                            <frontend_type>select</frontend_type>
                            <source_model>safemage_extensions/system_config_source_reason</source_model>
                            <backend_model>safemage_extensions/system_config_backend_empty</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </reason>
                        <other_reason translate="label">
                            <label>Other Reason</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>safemage_extensions/system_config_backend_empty</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <reason>other</reason>
                            </depends>
                        </other_reason>
                        <message translate="label">
                            <label>Message</label>
                            <frontend_type>textarea</frontend_type>
                            <backend_model>safemage_extensions/system_config_backend_empty</backend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </message>
                        <button>
                            <frontend_model>safemage_extensions/adminhtml_system_contact_send</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </button>
                    </fields>
                </contact>
            </groups>
        </safemage_extensions>
    </sections>
</config>
