<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Speedex>
            <version>0.1.0</version>
        </Progos_Speedex>
    </modules>
    <global>        
        <helpers>
            <speedex>
                <class>Progos_Speedex_Helper</class>
            </speedex>
        </helpers>
        <models>
            <speedex>
                <class>Progos_Speedex_Model</class>
            </speedex>
        </models>
        
    </global>
    <admin>
        <routers>
            <speedex>
                <use>admin</use>
                <args>
                    <module>Progos_Speedex</module>
                    <frontName>speedex</frontName>
                </args>
            </speedex>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <speedex module="speedex">
                                            <title>speedex</title>
                                        </speedex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <speedex>
                    <file>speedex.xml</file>
                </speedex>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <speedex>
            <settings>
                <enable>0</enable>
                <sandbox>1</sandbox>
            </settings>
        </speedex>
        <carriers>
            <speedex>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Progos_Speedex_Model_Carrier</model>
                <name>speedex</name>
                <title>Speedex</title>
                <handling_type>F</handling_type>
            </speedex>
        </carriers>
    </default>
</config>