<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Ecoprocessor>
            <version>0.1.2</version>
        </Progos_Ecoprocessor>
    </modules>
    <global>
        <resources>
            <ecoprocessor_setup>
                <setup>
                    <module>Progos_Ecoprocessor</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecoprocessor_setup>
            <ecoprocessor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecoprocessor_write>
            <ecoprocessor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecoprocessor_read>
        </resources>
        <models>
            <ecoprocessor>
                <class>Progos_Ecoprocessor_Model</class>
                <resourceModel>ecoprocessor_resource</resourceModel>
            </ecoprocessor>
            <ecoprocessor_resource>
                <class>Progos_Ecoprocessor_Model_Resource</class>
                <entities>
                    <quote_index>
                        <table>sales_quote_ecoprocessor</table>
                    </quote_index>
                </entities>
            </ecoprocessor_resource>
        </models>
        <helpers>
            <ecoprocessor>
                <class>Progos_Ecoprocessor_Helper</class>
            </ecoprocessor>
        </helpers>
        <blocks>
            <ecoprocessor>
                <class>Progos_Ecoprocessor_Block</class>
            </ecoprocessor>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ecoprocessor>
                        <file>ecoprocessor.xml</file>
                </ecoprocessor>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecoprocessor before="Mage_Adminhtml">Progos_Ecoprocessor_Adminhtml</ecoprocessor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>