<?xml version="1.0"?>
<config>
  <modules>
    <Progos_FeaturedCategory>
      <version>0.1.1</version>
    </Progos_FeaturedCategory>
  </modules>
  <global>
    <helpers>
      <featuredcategory>
        <class>Progos_FeaturedCategory_Helper</class>
      </featuredcategory>
    </helpers>
	<models>
	  <featuredcategory>
		<class>Progos_FeaturedCategory_Model</class>
		<resourceModel>featuredcategory_mysql4</resourceModel>
	  </featuredcategory>
	</models>
	<resources>
	  <categoryattribute1455095257_setup>
		<setup>
		  <module>Progos_FeaturedCategory</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1455095257_setup>
	  <categoryattribute1455095257_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1455095257_write>
	  <categoryattribute1455095257_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1455095257_read>
	</resources>
  </global>
</config> 