<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWPGrid>
			<version>1.3.3</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewpgrid_config/index</configure_url>
            </extendware>
		</Extendware_EWPGrid>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewpgrid after="Mage_Adminhtml">Extendware_EWPGrid</extendware_ewpgrid>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWPGrid>
					<files>
						<default>extendware/Extendware_EWPGrid.csv</default>
					</files>
				</Extendware_EWPGrid>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpgrid>
					<file>extendware/ewpgrid.xml</file>
				</ewpgrid>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWPGrid>
					<files>
						<default>extendware/Extendware_EWPGrid.csv</default>
					</files>
				</Extendware_EWPGrid>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpgrid>
					<file>extendware/ewpgrid.xml</file>
				</ewpgrid>
			</updates>
		</layout>
		<routers>
			<ewpgrid>
				<use>standard</use>
				<args>
					<module>Extendware_EWPGrid</module>
					<frontName>ewpgrid</frontName>
				</args>
			</ewpgrid>
        </routers>
    </frontend>
	<global>
		<models>
			<ewpgrid>
				<class>Extendware_EWPGrid_Model</class>
				<resourceModel>ewpgrid_resource</resourceModel>
			</ewpgrid>
			<ewpgrid_resource>
                <class>Extendware_EWPGrid_Model_Resource</class>
                <entities/>
            </ewpgrid_resource>
		</models>
		<blocks>
			<ewpgrid>
                <class>Extendware_EWPGrid_Block</class>
            </ewpgrid>
		</blocks>
		<helpers>
			<ewpgrid>
				<class>Extendware_EWPGrid_Helper</class>
			</ewpgrid>
		</helpers>
		<resources>
			<ewpgrid_setup>
				<setup>
					<module>Extendware_EWPGrid</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewpgrid_setup>
			<ewpgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewpgrid_write>
            <ewpgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewpgrid_read>
		</resources>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewpgrid>
			<general>
				<allowed_edit_modes>single,batch</allowed_edit_modes>
				<validation>1</validation>
			</general>
			<column>
				<special_columns>frontend_link,related_products,crosssell_products,upsell_products,creation_date,last_modified_date</special_columns>
			</column>
		</ewpgrid>
	</default>
	<extendware>
		<override>
			<block>
				<mage_adminhtml_catalog_product_grid_ewpgrid_override>
					<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Catalog_Product_Grid</class></search>
					<replace>
						<class>Extendware_EWPGrid_Block_Override_Mage_Adminhtml_Catalog_Product_Grid</class>
						<order>100</order>
					</replace>
				</mage_adminhtml_catalog_product_grid_ewpgrid_override>
			</block>
		</override>
	</extendware>
</config>
