<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Magidev>
            <version>0.1.0</version>
        </Progos_Magidev>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <progos_magidev before="Magidev_Sort">Progos_Magidev_Adminhtml</progos_magidev>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <progos_magidev>
                <class>Progos_Magidev_Helper</class>
            </progos_magidev>
        </helpers>
        <blocks>
            <progos_magidev>
                <class>Progos_Magidev_Block</class>
            </progos_magidev>
            <magidev_sort>
                <rewrite>
                    <adminhtml_catalog_category_tab_sort>Progos_Magidev_Block_Sort_Adminhtml_Catalog_Category_Tab_Sort</adminhtml_catalog_category_tab_sort>
                </rewrite>
            </magidev_sort>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>Progos_Magidev_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                    <catalog_category_edit_form>Progos_Magidev_Block_Adminhtml_Catalog_Category_Edit_Form</catalog_category_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <progos_magidev>
                <class>Progos_Magidev_Model</class>
            </progos_magidev>
        </models>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <magidev_add_category_tab>
                        <class>Progos_Magidev_Model_Sort_Observer</class>
                        <method>addTabs</method>
                    </magidev_add_category_tab>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
    </global>
    <adminhtml>
    <events>
        <catalog_category_prepare_save>
            <observers>
                <progos_magidev>
                    <class>progos_magidev/observer</class>
                    <method>saveCategoryCustom</method>
                </progos_magidev>
            </observers>
        </catalog_category_prepare_save>
    </events>
</adminhtml>

</config>