<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Infotrust>
            <version>1.0.0</version>
        </Progos_Infotrust>
    </modules>
    <global>
        <helpers>
            <progos_infotrust>
                <class>Progos_Infotrust_Helper</class>
            </progos_infotrust>
        </helpers>
        <blocks>
            <progos_infotrust>
                <class>Progos_Infotrust_Block</class>
            </progos_infotrust>
        </blocks>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <infotrust>
                        <type>singleton</type>
                        <class>Progos_Infotrust_Model_Observer</class>
                        <method>afterSalesOrderSaved</method>
                        <args></args>
                    </infotrust>
                </observers>
            </sales_model_service_quote_submit_success>
            <sales_order_shipment_track_save_after>
                <observers>
                    <send_shipment_schema>
                        <class>Progos_Infotrust_Model_Observer</class>
                        <method>saleOrderShipmentTrackSaveAfter</method>
                    </send_shipment_schema>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <send_creditmemo_schema>
                        <class>Progos_Infotrust_Model_Observer</class>
                        <method>salesOrderCreditmemoSaveAfter</method>
                    </send_creditmemo_schema>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    <default>
        <infotrust>
            <infotrust>
                <kustomer_shipment_email_enable>1</kustomer_shipment_email_enable>
                <kustomer_creditmemo_email_enable>1</kustomer_creditmemo_email_enable>
                <kustomer_seller_cancel_email_enable>1</kustomer_seller_cancel_email_enable>
                <kustomer_seller_accept_email_enable>1</kustomer_seller_accept_email_enable>
            </infotrust>
        </infotrust>
    </default>
</config>
