<!--@subject {{var customername}} send  a message to you through {{var store.getFrontendName()}}"  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
                <!-- [ middle starts here] -->
                    <tr>
                     <td valign="top">
                     <div style="font-size:14px; line-height:16px; font-family:Tahoma, Arial, 'Segoe UI', sans-serif; border:1px solid #b4b4b4; box-sizing:border-box;padding:20px 35px;">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Hello {{var sellername}},<br/><br/>
                        You have got a new message from {{var customername}} on {{var domainname}}.
                        <br/><br/>
                        Message:
                        <br/>
                        {{var customermessage}}
                        </p>
                        </div>
                    </td>
                </tr>
{{template config_path="design/email/footer"}}