<!--@subject Customer Review Waiting for Approval @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$cname":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var cemail":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
                <!-- [ middle starts here] -->
                    <tr>
                    <td valign="top">
                    <div style="font-size:14px; line-height:16px; font-family:Tahoma, Arial, 'Segoe UI', sans-serif; border:1px solid #b4b4b4; box-sizing:border-box;padding:20px 35px;">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Hi {{var ownername}},<br/><br/> 
                           A new review "{{var cname}}" has received with the email "{{var cemail}}" and waiting for your approval. To approve/delete review, <a href="{{var adminurl}}">click here </a>
                        </p>
                        </div>
                    </td>
                </tr>
{{template config_path="design/email/footer"}}