<?xml version="1.0"?>
<config>
    <modules>
        <Progos_SmsaExpress>
            <version>1.0.0</version>
        </Progos_SmsaExpress>
    </modules>
    <global>
        <blocks>
            <progos_smsaexpress>
                <class>Progos_SmsaExpress_Block</class>
            </progos_smsaexpress>
            <!--adminhtml>
                <rewrite>
                    <sales_order_view>Progos_SmsaExpress_Block_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml-->
        </blocks>
        <helpers>
            <progos_smsaexpress>
                <class>Progos_SmsaExpress_Helper</class>
            </progos_smsaexpress>
        </helpers>
        <models>
            <progos_smsaexpress>
                <class>Progos_SmsaExpress_Model</class>
            </progos_smsaexpress>
        </models>
        <resources>
            <progos_smsaexpress_setup>
                <setup>
                    <module>Progos_SmsaExpress</module>
                </setup>
            </progos_smsaexpress_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <smsaexpress>
                <use>admin</use>
                <args>
                    <module>Progos_SmsaExpress</module>
                    <frontName>smsaexpress</frontName>
                </args>
            </smsaexpress>
        </routers>
    </admin>
    <adminhtml>        
        <layout>
            <updates>
                <smsaexpress>
                    <file>smsaexpress.xml</file>
                </smsaexpress>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <progos_smsaexpress>
                <use>standard</use>
                <args>
                    <frontName>smsaexpress</frontName>
                    <module>Progos_SmsaExpress</module>
                </args>
            </progos_smsaexpress>
        </routers>
    </frontend>
    <default>
        <carriers>
            <smsaexpress>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Progos_SmsaExpress_Model_Carrier</model>
                <name>smsaexpress</name>
                <title>Smsa Express</title>
                <handling_type>F</handling_type>
            </smsaexpress>
        </carriers>
    </default>
</config>
