<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Merchandising>
            <version>0.1.1</version>
        </Progos_Merchandising>
    </modules>
    <global>
        <helpers>
            <progos_merchandising>
                <class>Progos_Merchandising_Helper</class>
            </progos_merchandising>
        </helpers>
        <models>
            <progos_merchandising>
                <class>Progos_Merchandising_Model</class>
                <resourceModel>progos_merchandising_resource</resourceModel>
            </progos_merchandising>
            <progos_merchandising_resource>
                <class>Progos_Merchandising_Model_Resource</class>
                <entities>
                    <positions>
                        <table>progos_merchandising_positions</table>
                    </positions>
                </entities>
            </progos_merchandising_resource>
        </models>
        <resources>
            <merchandising_setup>
                <setup>
                    <module>Progos_Merchandising</module>
                </setup>
            </merchandising_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <progos_merchandising>
                        <type>singleton</type>
                        <class>progos_merchandising/observer</class>
                        <method>repositionToHighest</method>
                        <args></args>
                    </progos_merchandising>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>