<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Emapi>
            <version>0.1.2</version>
        </Progos_Emapi>
    </modules>
    <global>
        <resources>
            <emapi_setup>
                <setup>
                    <module>Progos_Emapi</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emapi_setup>
            <emapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emapi_write>
            <emapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emapi_read>
        </resources>
        <models>
            <emapi>
                <class>Progos_Emapi_Model</class>
            </emapi>
            <sales_resource>
                <rewrite>
                    <quote_item_collection>Progos_Emapi_Model_Sales_Resource_Quote_Item_Collection</quote_item_collection>
                </rewrite>
            </sales_resource>
        </models>
        <helpers>
            <emapi>
                <class>Progos_Emapi_Helper</class>
            </emapi>
        </helpers>
        <blocks>
            <emapi>
                <class>Progos_Emapi_Block</class>
            </emapi>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <emapi>
                        <class>emapi/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </emapi>
                </observers>
            </adminhtml_widget_container_html_before>
            <catalog_product_save_after>
                <observers>
                    <emapi>
                        <class>emapi/observer</class>
                        <type>singleton</type>
                        <method>clearCategoriesCacheForApi</method>
                    </emapi>
                </observers>
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <emapi>
                    <file>appfilters.xml</file>
                </emapi>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <emapi before="Mage_Adminhtml">Progos_Emapi_Adminhtml</emapi>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <api>
            <newgroup>
                <delay>0</delay>
                <removedelay>0</removedelay>
                <updatedelay>0</updatedelay>
                <coupondelay>0</coupondelay>
                <getcarddelay>0</getcarddelay>
            </newgroup>
        </api>
    </default>
    <frontend>
        <routers>
            <emapi>
                <use>standard</use>
                <args>
                    <module>Progos_Emapi</module>
                    <frontName>emapi</frontName>
                </args>
            </emapi>
        </routers>
    </frontend>
</config>