<?xml version="1.0"?>

<config>
    <modules>
        <Rewrite_CSaleOrderInvoice>
            <version>1.0</version>
        </Rewrite_CSaleOrderInvoice>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rewrite_csaleorderinvoice before="Mage_Adminhtml">Rewrite_CSaleOrderInvoice_Adminhtml</rewrite_csaleorderinvoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
