<?xml version="1.0"?>
<config>
    <modules>
        <Progos_AdditionalAttribute>
            <version>1.0.0</version>
        </Progos_AdditionalAttribute>
    </modules>
    <global>
        <models>
            <additionalattribute>
                <class>Progos_AdditionalAttribute_Model</class>
            </additionalattribute>
            <catalog>
                <rewrite>
                    <product_api_v2>Progos_AdditionalAttribute_Model_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
        </models>
    </global>
</config> 