<?xml version="1.0"?>
<config>
    <modules>
        <Infomodus_Dhllabel>
            <version>1.6.2</version>
        </Infomodus_Dhllabel>
    </modules>
    <frontend>
        <routers>
            <dhllabel>
                <use>standard</use>
                <args>
                    <module>Infomodus_Dhllabel</module>
                    <frontName>dhllabel</frontName>
                </args>
            </dhllabel>
        </routers>
        <layout>
            <updates>
                <dhllabel>
                    <file>dhllabel.xml</file>
                </dhllabel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Infomodus_Dhllabel after="Mage_Adminhtml">Infomodus_Dhllabel_Adminhtml</Infomodus_Dhllabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales module="sales">
                <children>
                    <dhl_thirdparty module="dhllabel">
                        <title>DHL Third party shippers</title>
                        <sort_order>33</sort_order>
                        <action>adminhtml/dhllabel_account</action>
                    </dhl_thirdparty>
                    <dhl_list_of_label module="dhllabel">
                        <title>DHL Shipping Labels</title>
                        <sort_order>34</sort_order>
                        <action>adminhtml/dhllabel_lists</action>
                    </dhl_list_of_label>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dhllabel>
                                            <title>DHL Label</title>
                                        </dhllabel>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales module="sales">
                            <children>
                                <dhl_thirdparty module="dhllabel">
                                    <title>DHL Third party shippers</title>
                                    <sort_order>35</sort_order>
                                    <action>adminhtml/dhllabel_account</action>
                                </dhl_thirdparty>
                                <dhl_list_of_label module="dhllabel">
                                    <title>DHL Shipping Labels</title>
                                    <sort_order>36</sort_order>
                                    <action>adminhtml/dhllabel_lists</action>
                                </dhl_list_of_label>
                                <dhllabel module="dhllabel">
                                    <title>DHL Label (show, create, delete)</title>
                                    <sort_order>37</sort_order>
                                    <action>adminhtml/dhllabel_dhllabel</action>
                                </dhllabel>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <dhllabel>
                    <file>dhllabel.xml</file>
                </dhllabel>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <dhllabel_core_block_abstract_prepare_layout_before>
                        <class>dhllabel/observer</class>
                        <method>initDhllabel</method>
                    </dhllabel_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <dhl_core_block_abstract_to_html_before_addbutton>
                        <class>dhllabel/observer</class>
                        <method>addbutton</method>
                    </dhl_core_block_abstract_to_html_before_addbutton>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_shipment_save_before>
                <observers>
                    <dhllabel_sales_order_shipment_save_before>
                        <class>dhllabel/observer</class>
                        <method>beforeSaveShipment</method>
                    </dhllabel_sales_order_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <dhllabel_sales_order_shipment_save_after>
                        <class>dhllabel/observer</class>
                        <method>beforeShipment</method>
                    </dhllabel_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_creditmemo_save_before>
                <observers>
                    <dhllabel_sales_order_creditmemo_save_before>
                        <class>dhllabel/observer</class>
                        <method>beforeSaveShipment</method>
                    </dhllabel_sales_order_creditmemo_save_before>
                </observers>
            </sales_order_creditmemo_save_before>
            <sales_order_creditmemo_save_after>
                <observers>
                    <dhllabel_sales_order_creditmemo_save_after>
                        <class>dhllabel/observer</class>
                        <method>beforeCreditmemo</method>
                    </dhllabel_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <controller_action_postdispatch>
                <observers>
                    <dhllabel_sales_order_shipment_save>
                        <class>dhllabel/observer</class>
                        <method>saveShipment</method>
                    </dhllabel_sales_order_shipment_save>
                </observers>
            </controller_action_postdispatch>
        </events>
    </adminhtml>
    <global>
        <models>
            <dhllabel>
                <class>Infomodus_Dhllabel_Model</class>
                <resourceModel>dhllabel_mysql4</resourceModel>
            </dhllabel>
            <dhllabel_mysql4>
                <class>Infomodus_Dhllabel_Model_Mysql4</class>
                <entities>
                    <dhllabel>
                        <table>dhllabel</table>
                    </dhllabel>
                    <!--<pickup>
                        <table>dhllabelpickup</table>
                    </pickup>-->
                    <account>
                        <table>dhllabelaccount</table>
                    </account>
                    <labelprice>
                        <table>dhllabelprice</table>
                    </labelprice>
                    <conformity>
                        <table>dhllabelconformity</table>
                    </conformity>
                </entities>
            </dhllabel_mysql4>
        </models>
        <resources>
            <dhllabel_setup>
                <setup>
                    <module>Infomodus_Dhllabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dhllabel_setup>
            <dhllabel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dhllabel_write>
            <dhllabel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dhllabel_read>
        </resources>
        <blocks>
            <dhllabel>
                <class>Infomodus_Dhllabel_Block</class>
            </dhllabel>
        </blocks>
        <helpers>
            <dhllabel>
                <class>Infomodus_Dhllabel_Helper</class>
            </dhllabel>
        </helpers>
        <!--<blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Infomodus_Dhllabel_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_shipment_grid>Infomodus_Dhllabel_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                </rewrite>
            </adminhtml>
        </blocks>-->
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <dhl_order_place_after>
                        <class>dhllabel/observer</class>
                        <method>frontorderplace</method>
                    </dhl_order_place_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <default>
        <dhllabel>
            <testmode>
                <testing>1</testing>
            </testmode>
            <packaging>
                <packagingtypecode>02</packagingtypecode>
                <frontend_multipackes_enable>0</frontend_multipackes_enable>
                <packages_by_attribute_enable>0</packages_by_attribute_enable>
            </packaging>
            <shipping>
                <defaultshipmentmethod>2</defaultshipmentmethod>
                <defaultshipmentmethodworld>D</defaultshipmentmethodworld>
                <shipmentdescription>1</shipmentdescription>
                <defaultshipper>1</defaultshipper>
                <defaultshipfrom>1</defaultshipfrom>
                <addtrack>1</addtrack>
                <reference_id>order</reference_id>
            </shipping>
            <return>
                <frontend_customer_return>1</frontend_customer_return>
                <refundaccess>1</refundaccess>
                <default_return>0</default_return>
                <default_return_method>03</default_return_method>
                <return_time_old>PT</return_time_old>
            </return>
            <weightdimension>
                <weightunits>LBS</weightunits>
                <unitofmeasurement>IN</unitofmeasurement>
                <defweigth>0</defweigth>
            </weightdimension>
            <ratepayment>
                <currencycode>USD</currencycode>
                <shipmentcharge>0</shipmentcharge>
                <negotiatedratesindicator>0</negotiatedratesindicator>
                <cod>0</cod>
                <cod_shipping_cost>0</cod_shipping_cost>
                <cod_discount>0</cod_discount>
            </ratepayment>
            <quantum>
                <qvn>0</qvn>
            </quantum>
            <pickup>
                <RatePickupIndicator>Y</RatePickupIndicator>
                <PickupDateYear>0</PickupDateYear>
                <PickupDateMonth>0</PickupDateMonth>
                <PickupDateDay>0</PickupDateDay>
                <AlternateAddressIndicator>N</AlternateAddressIndicator>
                <ServiceCode>003</ServiceCode>
                <Quantity>1</Quantity>
                <DestinationCountryCode>US</DestinationCountryCode>
                <ContainerCode>01</ContainerCode>
                <UnitOfMeasurement>LBS</UnitOfMeasurement>
                <OverweightIndicator>N</OverweightIndicator>
                <PaymentMethod>01</PaymentMethod>
                <SpecialInstruction>No instructions</SpecialInstruction>
                <ReferenceNumber>Order : Customer</ReferenceNumber>
                <Notification>1</Notification>
            </pickup>
            <paperless>
                <type>0</type>
                <commodity_attribute>sku</commodity_attribute>
                <terms_of_trade>DAP</terms_of_trade>
            </paperless>
            <frontend_autocreate_label>
                <frontend_order_autocreate_label_enable>0</frontend_order_autocreate_label_enable>
            </frontend_autocreate_label>
            <bulk_create_labels>
                <bulk_shipping_methods>all</bulk_shipping_methods>
                <bulk_order_status>all</bulk_order_status>
            </bulk_create_labels>
            <additional_settings>
                <order_grid_column_enable>1</order_grid_column_enable>
                <multiple_pdf_label>1</multiple_pdf_label>
                <umlaut>1</umlaut>
            </additional_settings>
        </dhllabel>
    </default>
</config>