<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
    <tr>
        <td class="action-content">
        <div style="font-size:14px; line-height:16px; font-family:Tahoma, Arial, 'Segoe UI', sans-serif; border:1px solid #b4b4b4; box-sizing:border-box;padding:20px 35px;">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p><strong>Your new password is:</strong> {{htmlescape var=$customer.password}}</p>
            <p>You can change your password at any time by logging into <a href="{{store url="customer/account/"}}">your account</a>.</p>
            </div>
        </td>
    </tr>
{{template config_path="design/email/footer"}}
