<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
                <tr>
                    <td class="action-content">
                    <div style="font-size:14px; line-height:16px; font-family:Tahoma, Arial, 'Segoe UI', sans-serif; border:1px solid #b4b4b4; box-sizing:border-box;padding:20px 35px;">
                        <h1>Hey, take a look at my wishlist from {{var store.getFrontendName()}}.</h1>
                        <table cellspacing="0" cellpadding="0" class="message-container">
                            <tr>
                                <td>{{var message}}</td>
                            </tr>
                        </table>
                        {{var items}}
                        {{depend salable}}
                        <p><strong><a href="{{var addAllLink}}">Add all items to shopping cart</a></strong> |
                        {{/depend}}
                        <strong><a href="{{var viewOnSiteLink}}">View all wishlist items</a></strong></p>
                        </div>
                    </td>
                </tr>
{{template config_path="design/email/footer"}}
