<?xml version="1.0"?>

<config>
    <modules>
        <Progos_Catalog>
            <version>1.0</version>
        </Progos_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Progos_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <progos_catalog>
                <class>Progos_Catalog_Model</class>
            </progos_catalog>
            <!--<catalog_resource>
                <rewrite>
                    <url>Progos_Catalog_Model_Resource_Catalog_Url</url>
                </rewrite>
            </catalog_resource>-->
        </models>
        <helpers>
            <progos_catalog>
                <class>Progos_Catalog_Helper</class>
            </progos_catalog>
        </helpers>
        <blocks>
            <progos_catalog>
                <class>Progos_Catalog_Block</class>
            </progos_catalog>
            <catalog>
                <rewrite>
                    <category_view>Progos_Catalog_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <progos_catalog>
                        <type>singleton</type>
                        <class>progos_catalog/observer</class>
                        <method>fixConfigurableProductImageGallery</method>
                    </progos_catalog>
                </observers>
            </catalog_product_save_after>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <progos_add_button_clear_cache>
                        <class>Progos_Catalog_Model_Observer</class>
                        <method>addCacheButton</method>
                    </progos_add_button_clear_cache>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <progoscatalog before="Mage_Adminhtml">Progos_Catalog_Adminhtml</progoscatalog>
                    </modules>
                </args>
            </adminhtml>
            <progos_catalog>
                <use>admin</use>
                <args>
                    <module>Progos_Catalog</module>
                    <frontName>progoscatalog</frontName>
                </args>
            </progos_catalog>
        </routers>
    </admin>
</config>
