<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Xlanding>
            <version>1.10.0</version>
        </Progos_Xlanding>
    </modules>
    <global>
        <helpers>
            <xlanding>
                <class>Progos_Xlanding_Helper</class>
            </xlanding>
        </helpers>
        <blocks>
            <xlanding>
                <class>Progos_Xlanding_Block</class>
            </xlanding>
            <amlanding>
                <rewrite>
                    <adminhtml_page_edit_tabs>Progos_Xlanding_Block_Xlanding_Adminhtml_Page_Edit_Tabs</adminhtml_page_edit_tabs>
                    <adminhtml_page_edit>Progos_Xlanding_Block_Xlanding_Adminhtml_Page_Edit</adminhtml_page_edit>
                </rewrite>
            </amlanding>
            <catalog>
                <rewrite>
                    <product_list>Progos_Xlanding_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <xlanding>
                <class>Progos_Xlanding_Model</class>
                <resourceModel>xlanding_resource</resourceModel>
            </xlanding>
            <xlanding_resource>
                <class>Progos_Xlanding_Model_Resource</class>
                <entities>
                    <page_product>
                        <table>am_landing_page_products</table>
                    </page_product>
                </entities>
            </xlanding_resource>
            <amlanding>
                <rewrite>
                    <page>Progos_Xlanding_Model_Xlanding_Page</page>
                </rewrite>
            </amlanding>
        </models>
        <resources>
            <xlanding_setup>
                <setup>
                    <module>Progos_Xlanding</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xlanding_setup>
            <xlanding_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xlanding_write>
            <xlanding_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xlanding_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <amlanding>
                        <class>Progos_Xlanding_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </amlanding>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <admin>
        <routers>
            <xlanding>
                <use>admin</use>
                <args>
                    <module>Progos_Xlanding</module>
                    <frontName>admin_xlanding</frontName>
                </args>
            </xlanding>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <xlanding>
                    <file>xlanding.xml</file>
                </xlanding>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <landing_page_merchandising>
                <schedule>
                    <cron_expr>30 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>Progos_Xlanding_Model_Cron::updatePageProducts</model>
                </run>
            </landing_page_merchandising>
        </jobs>
    </crontab>
</config>
