<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Ccache>
            <version>0.1.1</version>
        </Progos_Ccache>
    </modules>
    <admin>
        <routers>
            <ccache>
                <use>admin</use>
                <args>
                    <module>Progos_Ccache</module>
                    <frontName>ccache</frontName>
                </args>
            </ccache>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ccache>
                    <file>ccache.xml</file>
                </ccache>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <ccache>
                        <title>Clear Cache/Warmup System</title>
                        <sort_order>100</sort_order>
                        <children>
                            <ccache_index_category>
                                <title>Category</title>
                                <action>ccache/adminhtml_index/category</action>
                            </ccache_index_category>
                            <ccache_index_manufacturer>
                                <title>Manufacturer</title>
                                <action>ccache/adminhtml_index/manufacturer</action>
                            </ccache_index_manufacturer>
                            <ccache_index_list>
                                <title>Product</title>
                                <action>ccache/adminhtml_index/index</action>
                            </ccache_index_list>
                            <warmup_product_list>
                                <title>Warmup Product</title>
                                <action>ccache/adminhtml_index/warmupproduct</action>
                            </warmup_product_list>
                            <warmup_category_list>
                                <title>Warmup Category</title>
                                <action>ccache/adminhtml_index/warmupcategory</action>
                            </warmup_category_list>
                            <warmup_manufacturer_list>
                                <title>Warmup Manufacturer</title>
                                <action>ccache/adminhtml_index/warmupmanufacturer</action>
                            </warmup_manufacturer_list>
                        </children>   
                    </ccache>
                </children>
            </system>
        </menu>
        <acl>
           <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
               <admin>
                   <children>
                       <system>
                           <children>
                                <ccache translate="title">
                                    <title>Clear Cache System</title>
                                    <sort_order>97</sort_order>
                                </ccache>
                           </children>
                       </system>
                   </children>
               </admin>
           </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <ccache>
                <class>Progos_Ccache_Model</class>
                <resourceModel>ccache_resource</resourceModel>
            </ccache>
            <ccache_resource>
                <class>Progos_Ccache_Model_Resource</class>
                <entities>
                    <ccache>
                        <table>ccache</table>
                    </ccache>
                    <warmup_products>
                        <table>warmup_products</table>
                    </warmup_products>
                    <warmup_categories>
                        <table>warmup_categories</table>
                    </warmup_categories>
                    <warmup_manufacturers>
                        <table>warmup_manufacturers</table>
                    </warmup_manufacturers>
                </entities>
            </ccache_resource>
        </models>
        <resources>
            <ccache_setup>
                <setup>
                    <module>Progos_Ccache</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccache_setup>
            <ccache_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ccache_write>
            <ccache_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ccache_read>
        </resources>
        <blocks>
            <ccache>
                <class>Progos_Ccache_Block</class>
            </ccache>
        </blocks>
        <helpers>
            <ccache>
                <class>Progos_Ccache_Helper</class>
            </ccache>
        </helpers>
     </global>
     <default>
        <ccache>
            <settings>                
                <enable>0</enable>    
                <product>0</product>
                <category>0</category>
                <manufacturer>0</manufacturer>  
                <productcount>10</productcount>
                <categorycount>10</categorycount>
                <manufacturercount>10</manufacturercount>        
                <attribute_id>41</attribute_id>         
            </settings>
            <warmup_product>
                <enable>0</enable>
                <order>1</order>
                <limit>10</limit>
            </warmup_product>  
            <warmup_category>
                <enable>0</enable>
                <order>1</order>
                <limit>10</limit>
            </warmup_category> 
            <warmup_manufacturer>
                <enable>0</enable>
                <order>1</order>
                <limit>10</limit>
            </warmup_manufacturer> 
        </ccache>
    </default>
    <crontab>
        <jobs>
            <clear_cache_product>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>       
		</schedule>
                <run><model>ccache/ccache::clearProductsCache</model></run>
            </clear_cache_product>
            <clear_cache_category>
                <schedule>
                   <cron_expr>0 1 * * *</cron_expr>    
		</schedule>
                <run><model>ccache/ccache::clearCategoriesCache</model></run>
            </clear_cache_category>
            <clear_cache_manufacturer>
                <schedule>
                   <cron_expr>0 1 * * *</cron_expr>    
		</schedule>
                <run><model>ccache/ccache::clearManufacturerCache</model></run>
            </clear_cache_manufacturer>
            <warmup_product_pages>
                <schedule>
                   <cron_expr>*/5 * * * *</cron_expr>    
		</schedule>
                <run><model>ccache/warmup::products</model></run>
            </warmup_product_pages>
            <warmup_category_pages>
                <schedule>
                   <cron_expr>*/5 * * * *</cron_expr>    
		</schedule>
                <run><model>ccache/warmup::categories</model></run>
            </warmup_category_pages>
            <warmup_manufacturer_pages>
                <schedule>
                   <cron_expr>*/5 * * * *</cron_expr>    
		</schedule>
                <run><model>ccache/warmup::manufacturers</model></run>
            </warmup_manufacturer_pages>
        </jobs>
    </crontab>
</config>