<?xml version="1.0"?>
<config>
  <modules>
    <Progos_BelowFeaturedCatBanner>
      <version>0.1.0</version>
    </Progos_BelowFeaturedCatBanner>
  </modules>
  <global>
    <helpers>
      <belowfeaturedcatbanner>
        <class>Progos_BelowFeaturedCatBanner_Helper</class>
      </belowfeaturedcatbanner>
    </helpers>
	<models>
	  <belowfeaturedcatbanner>
		<class>Progos_BelowFeaturedCatBanner_Model</class>
		<resourceModel>belowfeaturedcatbanner_mysql4</resourceModel>
	  </belowfeaturedcatbanner>
	</models>
	<resources>
	  <rightside_featured_category_banner_setup>
		<setup>
		  <module>Progos_BelowFeaturedCatBanner</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </rightside_featured_category_banner_setup>
	  <rightside_featured_category_banner_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </rightside_featured_category_banner_write>
	  <rightside_featured_category_banner_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </rightside_featured_category_banner_read>
	</resources>
  </global>
</config> 