<?xml version="1.0"?>
<config>
    <modules>
        <Progos_CCatalog>
            <version>1.0</version>
        </Progos_CCatalog>
    </modules>
    <global>
        <helpers>
            <progos_ccatalog>
                <class>Progos_CCatalog_Helper</class>
            </progos_ccatalog>
            <catalog>
                <rewrite>
                    <data>Progos_CCatalog_Helper_Data</data>
                </rewrite>
            </catalog>
        </helpers>
    </global>
</config>