<?xml version="1.0"?>
<config>
    <modules>
        <Progos_ShopBy>
            <version>0.1.0</version>
        </Progos_ShopBy>
    </modules>
    <global>
        <blocks>
            <amshopby>
                <rewrite>
                    <advanced>Progos_ShopBy_Block_Advanced</advanced>
                </rewrite>
            </amshopby>
        </blocks>
        <models>
            <catalog_resource>
                <rewrite>
                    <product_collection>Progos_ShopBy_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <amshopby>
                <rewrite>
                    <source_url_mode>Progos_ShopBy_Model_Shopby_Source_Url_Mode</source_url_mode>
                    <url_builder>Progos_ShopBy_Model_Shopby_Url_Builder</url_builder>
                </rewrite>
            </amshopby>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <amshopby>
                        <type>singleton</type>
                        <class>Progos_ShopBy_Model_Observer</class>
                        <method>handleControllerFrontInitRouters</method>
                    </amshopby>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>