<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Skuvault>
            <version>0.1.1</version>
        </Progos_Skuvault>
    </modules>
    <global>
        <blocks>
            <progos_skuvault>
                <class>Progos_Skuvault_Block</class>
            </progos_skuvault>
        </blocks>
        <models>
            <progos_skuvault>
                <class>Progos_Skuvault_Model</class>
            </progos_skuvault>
        </models>
        <helpers>
            <progos_skuvault>
                <class>Progos_Skuvault_Helper</class>
            </progos_skuvault>
        </helpers>
        <resources>
            <skuvault_setup>
                <setup>
                    <module>Progos_Skuvault</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </skuvault_setup>
            <skuvault_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </skuvault_write>
            <skuvault_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </skuvault_read>
        </resources>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <progos_skuvault_add_button>
                        <type>model</type>
                        <class>progos_skuvault/observer</class>
                        <method>addButton</method>
                    </progos_skuvault_add_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <catalog_product_save_before>
                <observers>
                    <progos_skuvault_update_filed>
                        <type>singleton</type>
                        <class>progos_skuvault/observer</class>
                        <method>updateSkuvaultProductStatus</method>
                    </progos_skuvault_update_filed>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <progos_skuvault_brand_sync>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>progos_skuvault/cron::productBrandSyncWithSkuvaultSupplier</model>
                </run>
            </progos_skuvault_brand_sync>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <progos_skuvault before="Mage_Adminhtml">Progos_Skuvault_Adminhtml</progos_skuvault>
                    </modules>
                </args>
            </adminhtml>
            <skuvault_process>
                <use>admin</use>
                <args>
                    <module>Progos_Skuvault</module>
                    <frontName>admin_skuvault</frontName>
                </args>
            </skuvault_process>
        </routers>
    </admin>
</config>
