<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Restmob>
            <version>0.1.12</version>
        </Progos_Restmob>
    </modules>
    <global>
        <resources>
            <restmob_setup>
                <setup>
                    <module>Progos_Restmob</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </restmob_setup>
            <restmob_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </restmob_write>
            <restmob_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </restmob_read>
        </resources>
        <models>
            <restmob>
                <class>Progos_Restmob_Model</class>
                <resourceModel>restmob_resource</resourceModel>
            </restmob>
            <restmob_resource>
                <class>Progos_Restmob_Model_Resource</class>
                <entities>
                    <quote_index>
                        <table>sales_quote_restmob</table>
                    </quote_index>
                </entities>
            </restmob_resource>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Progos_Restmob_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <restmob>
                <class>Progos_Restmob_Helper</class>
            </restmob>
        </helpers>
        <blocks>
            <restmob>
                <class>Progos_Restmob_Block</class>
            </restmob>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <restmob>
                    <file>restmob.xml</file>
                </restmob>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <restmob before="Mage_Adminhtml">Progos_Restmob_Adminhtml</restmob>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <api>
            <newgroup>
                <delay>0</delay>
                <removedelay>0</removedelay>
                <updatedelay>0</updatedelay>
                <coupondelay>0</coupondelay>
                <getcarddelay>0</getcarddelay>
            </newgroup>
        </api>
    </default>
    <frontend>
        <routers>
            <restmob>
                <use>standard</use>
                <args>
                    <module>Progos_Restmob</module>
                    <frontName>restmob</frontName>
                </args>
            </restmob>
        </routers>
    </frontend>
</config>