<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Api_Search>
            <version>0.1.0</version>
        </Progos_Api_Search>
    </modules>
    <global>
        <models>
            <api-search>
                <class>Progos_Api_Search_Model</class>
            </api-search>
        </models>
        <helpers>
            <api-search>
                <class>Progos_Api_Search_Helper</class>
            </api-search>
        </helpers>
    </global>
</config>