<?xml version="1.0"?>
<config>
    <modules>
        <Progos_PdfPro>
            <version>1.0.0</version>
        </Progos_PdfPro>
    </modules>
    <admin>
        <routers>
        	<adminhtml>
				<args>
					<modules>
						<progos_pdfpro before="PdfPro_Adminhtml">Progos_PdfPro_Adminhtml</progos_pdfpro>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <global>
		<events>
			<ves_pdfpro_data_prepare_destination_after>
				<observers>
					<pdfpro>
						<class>pdfpro/observer</class>
						<method>ves_pdfpro_data_prepare_destination_after</method>
					</pdfpro>
				</observers>
			</ves_pdfpro_data_prepare_destination_after>
		</events>
        <models>
            <pdfpro>
            	<rewrite>
            		<order_invoice>Progos_PdfPro_Model_Order_Invoice</order_invoice>
					<order>Progos_PdfPro_Model_Order</order>
            	</rewrite>
            </pdfpro>
        </models>
        <helpers>
            <progos_pdfpro>
                <class>Progos_PdfPro_Helper</class>
            </progos_pdfpro>
			<pdfpro>
				<rewrite>
					<data>Progos_PdfPro_Helper_Data</data>
				</rewrite>
			</pdfpro>
        </helpers>
		<blocks>
			<progos_pdfpro>
				<class>Progos_PdfPro_Block</class>
			</progos_pdfpro>
			<pdfpro>
				<rewrite>
					<adminhtml_sales_order_invoice_view>Progos_PdfPro_Block_Adminhtml_Sales_Order_Invoice_View</adminhtml_sales_order_invoice_view>
					<adminhtml_sales_order_view>Progos_PdfPro_Block_Adminhtml_Sales_Order_View</adminhtml_sales_order_view>
				</rewrite>
			</pdfpro>
		</blocks>
    </global>
</config>