<?xml version="1.0" encoding="UTF-8"?>

<config>

    <modules>

        <Highstreet_SmartAppBanner>
            <version>1.7.0</version>
        </Highstreet_SmartAppBanner>

    </modules>


    <frontend>

        <layout>
            <updates>
                <Highstreet_SmartAppBanner>
                    <file>highstreet/smart_app_banner.xml</file>
                </Highstreet_SmartAppBanner>
            </updates>
        </layout>

    </frontend>

</config>
