<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Algoliasearch>
            <version>0.0.1</version>
        </Progos_Algoliasearch>
    </modules>
    <global>
        <models>
            <progos_algoliasearch>
                <class>Progos_Algoliasearch_Model</class>
                <resourceModel>progos_algoliasearch_resource</resourceModel>
            </progos_algoliasearch>
            <progos_algoliasearch_resource>
                <class>Progos_Algoliasearch_Model_Resource</class>
            </progos_algoliasearch_resource>
            <algoliasearch>
                <rewrite>
                    <indexer_algolia>Progos_Algoliasearch_Model_Indexer_Algolia</indexer_algolia>
                </rewrite>
            </algoliasearch>
        </models>
        <blocks>
            <progos_algoliasearch>
                <class>Progos_Algoliasearch_Block</class>
            </progos_algoliasearch>
        </blocks>
        <helpers>
            <progos_algoliasearch>
                <class>Progos_Algoliasearch_Helper</class>
            </progos_algoliasearch>
        </helpers>
        <events>
            <algolia_after_create_product_object>
                <observers>
                    <progos_algoliasearch_adddataformobileapp>
                        <class>progos_algoliasearch_model_observer</class>
                        <method>addDataForMobileApp</method>
                    </progos_algoliasearch_adddataformobileapp>
                </observers>
            </algolia_after_create_product_object>
            <algolia_products_index_before_set_settings>
                <observers>
                    <progos_algoliasearch_addcustomindex>
                        <class>progos_algoliasearch_model_observer</class>
                        <method>addCustomIndex</method>
                    </progos_algoliasearch_addcustomindex>
                </observers>
            </algolia_products_index_before_set_settings>
            <algolia_after_create_configuration>
                <observers>
                    <progos_algoliasearch_updateconfigsettings>
                        <class>progos_algoliasearch_model_observer</class>
                        <method>updatConfigurations</method>
                    </progos_algoliasearch_updateconfigsettings>
                </observers>
            </algolia_after_create_configuration>
        </events>
    </global>
</config>