<config>
	<modules>
		<Support_Messaging>
			<vesion>0.1.0</vesion>
		</Support_Messaging>
	</modules>
    <frontend>
        <routers>
            <messaging>
                <use>standard</use>
                <args>
                    <module>Support_Messaging</module>
                    <frontName>messaging</frontName>
                </args>
            </messaging>
        </routers>
        <layout>
            <updates>
                <messaging>
                    <file>messaging.xml</file>
                </messaging>
            </updates>
        </layout>
    </frontend> 
	<global>
		<models>
			<messaging>
				<class>Support_Messaging_Model</class>
				<resourceModel>messaging_mysql4</resourceModel>
			</messaging>
			<messaging_mysql4>
                <class>Support_Messaging_Model_Mysql4</class>
                <entities>
                    <abc>
                        <table>abc</table>
                    </abc>
                    <thread>
                        <table>pro_thread</table>
                    </thread>
                    <conversation>
                        <table>pro_conversation</table>
                    </conversation>
                    <messages>
                        <table>pro_messages</table>
                    </messages>
                    <attachments>
                        <table>pro_attachments</table>
                    </attachments>
                </entities>
            </messaging_mysql4>
		</models>
        <resources>
            <messaging_setup>
                <setup>
                    <module>Support_Messaging</module>
                    <!-- <class>Support_Messaging_Model_Resource_Mysql4_Setup</class> -->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </messaging_setup>
            <messaging_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </messaging_write>
            <messaging_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </messaging_read>
        </resources>
		<blocks>
			<messaging>
				<class>Support_Messaging_Block</class>
			</messaging>
		</blocks>
		<helpers>
			<messaging>
				<class>Support_Messaging_Helper</class>
			</messaging>
		</helpers>
	</global>
</config>