<?xml version="1.0"?>

<config>
    <global>
        <helpers>
            <progos_sales>
                <class>Progos_Sales_Helper</class>
            </progos_sales>
        </helpers>
        <models>
            <sales>
                <rewrite>
                    <quote_address_total_shipping>Progos_Sales_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
        </models>
    </global>
</config>