<?xml version="1.0"?>
<config>
  <modules>
    <Progos_Messages>
      <version>0.1.0</version>
    </Progos_Messages>
  </modules>
  <frontend>
    <routers>
      <messages>
        <use>standard</use>
          <args>
            <module>Progos_Messages</module>
            <frontName>messages</frontName>
          </args>
      </messages>
    </routers>
    <layout>
      <updates>
      <messages>
        <file>progosmessages.xml</file>
      </messages>
      </updates>
    </layout>
  </frontend>
  <global>
    <models>
            <messages>
                <class>Progos_Messages_Model</class>
                <resourceModel>messages_mysql4</resourceModel>
            </messages>
            <messages_mysql4>
                <class>Progos_Messages_Model_Mysql4</class>
                <entities>
                    <messages>
                        <table>progos_messages</table>
                    </messages>
                    <attachment>
                         <table>progos_attachment</table>
                    </attachment>
                    <thread>
                         <table>progos_thread</table>
                    </thread>
                    <conversation>
                         <table>progos_conversation</table>
                    </conversation>
                </entities>
            </messages_mysql4>
        </models>
    <resources>
            <messages_setup>
                <setup>
                    <module>Progos_Messages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </messages_setup>
            <messages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </messages_write>
            <messages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </messages_read>
        </resources>
    <helpers>
      <messages>
        <class>Progos_Messages_Helper</class>
      </messages>
    </helpers>
  <blocks>
    <messages>
    <class>Progos_Messages_Block</class>
    </messages>
  </blocks>
  </global>
</config> 