<?xml version="1.0"?>

<config>
    <modules>
        <Rewrite_CSaleOrderShipment>
            <version>1.0</version>
        </Rewrite_CSaleOrderShipment>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rewrite_csaleordershipment before="Mage_Adminhtml">Rewrite_CSaleOrderShipment_Adminhtml</rewrite_csaleordershipment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
