<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Upslabel>
            <version>1.0.0</version>
        </Progos_Upslabel>
    </modules>
    <global>
        <models>
            <upslabel>
                <rewrite>
                    <ups>Progos_Upslabel_Model_Ups</ups>
                </rewrite>
            </upslabel>
        </models>
    </global>
</config>