<?xml version="1.0"?>
<!--
/**
* Highstreet_HSAPI_module
*
* @package     Highstreet_Hsapi
* @author      Tim Wachter (tim@touchwonders.com) ~ Touchwonders
* @copyright   Copyright (c) 2015 Touchwonders b.v. (http://www.touchwonders.com/)
*/
-->
<config>
    <modules>
        <Highstreet_Hsapi>
            <version>1.7.0</version>
        </Highstreet_Hsapi>
    </modules>
    <frontend>
        <routers>
            <hsapi>
                <use>standard</use>
                <args>
                    <module>Highstreet_Hsapi</module>
                    <frontName>hsapi</frontName>
                </args>
            </hsapi>
        </routers>
    </frontend>
    <global>
        <models>
            <highstreet_hsapi>
                <class>Highstreet_Hsapi_Model</class>
            </highstreet_hsapi>
            <core>
                <rewrite>
                    <session>Highstreet_Hsapi_Model_Session</session>
                </rewrite>
            </core>
        </models>
        <helpers>
            <highstreet_hsapi>
                <class>Highstreet_Hsapi_Helper</class>
            </highstreet_hsapi>
        </helpers>
        <blocks>
            <highstreet_hsapi>
                <class>Highstreet_Hsapi_Block</class>
            </highstreet_hsapi>
        </blocks>
        <resources>
            <highstreet_hsapi_setup>
                <setup>
                    <module>Highstreet_Hsapi</module>
                </setup>
            </highstreet_hsapi_setup>
        </resources>
        <events>
            <sales_quote_merge_before>
                <observers>
                    <highstreet_hsapi_merge_quote>
                        <type>singleton</type>
                        <class>Highstreet_Hsapi_Model_Observer</class>
                        <method>mergeQuote</method>
                    </highstreet_hsapi_merge_quote>
                </observers>
            </sales_quote_merge_before>           
            <sales_order_place_after>
                <observers>
                    <highstreet_hsapi_sales_order_place_after>
                        <class>Highstreet_Hsapi_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </highstreet_hsapi_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <!--
            <sales_order_invoice_pay>
                <observers>
                    <highstreet_hsapi_sales_order_invoice_pay>
                        <class>Highstreet_Hsapi_Model_Observer</class>
                        <method>salesOrderInvoicePay</method>
                    </highstreet_hsapi_sales_order_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
        -->
            <sales_order_invoice_cancel>
                <observers>
                    <highstreet_hsapi_sales_order_invoice_cancel>
                        <class>Highstreet_Hsapi_Model_Observer</class>
                        <method>salesOrderInvoiceCancel</method>
                    </highstreet_hsapi_sales_order_invoice_cancel>
                </observers>
            </sales_order_invoice_cancel>
            <!-- eTag update to quote and session object -->
            <checkout_cart_product_add_after>
                <observers>
                    <highstreet_hsapi_cart_etag_update>
                        <type>singleton</type>
                        <class>Highstreet_Hsapi_Model_CartObserver</class>
                        <method>cartEtagUpdate</method>
                    </highstreet_hsapi_cart_etag_update>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <highstreet_hsapi_cart_etag_update_remove>
                        <type>singleton</type>
                        <class>Highstreet_Hsapi_Model_CartObserver</class>
                        <method>cartEtagUpdate</method>
                    </highstreet_hsapi_cart_etag_update_remove>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_update_items_after>
                <observers>
                    <highstreet_hsapi_cart_etag_update_update>
                        <type>singleton</type>
                        <class>Highstreet_Hsapi_Model_CartObserver</class>
                        <method>cartEtagUpdate</method>
                    </highstreet_hsapi_cart_etag_update_update>
                </observers>
            </checkout_cart_update_items_after>
        </events>
        <default>
            <highstreet_hsapi>
                <api>
                    <checkout_override_storeview><![CDATA[-1]]></checkout_override_storeview>
                </api>
            </highstreet_hsapi>
        </default>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <highstreet_hsapi>
                                            <title>Highstreet</title>
                                        </highstreet_hsapi>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
