<?xml version="1.0"?>
<config>
    <sections>
        <highstreet_hsapi module="highstreet_hsapi">
            <label>Highstreet</label>
            <class>highstreet-section</class>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api>
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_general>
                            <label><![CDATA[General Configuration]]></label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_general>
                        <store_id>
                            <label>Store identifier</label>
                            <comment>Your store identifier, e.g. your brand name</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store_id>
                        <environment>
                            <label>Environment</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>highstreet_hsapi/system_config_environment</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
                        <shipping_in_cart translate="label">
                            <label>Hide shipping methods in cart API call</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_in_cart>
                        <always_add_simple_products translate="label">
                            <label>Always add simple products to the cart</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </always_add_simple_products>
                        <smartbanner_native_active translate="label">
                            <label>Enable the native Apple smart banner</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smartbanner_native_active>
                        <smartbanner_native_app_id translate="label">
                            <label>App store id</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smartbanner_native_app_id>
                        <smartbanner_native_app_url translate="label">
                            <label>Url scheme for universal links</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smartbanner_native_app_url>
                        <smartbanner_native_app_name translate="label">
                            <label>App name used to display in iOS search results</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smartbanner_native_app_name>
                        <checkout_saco_active translate="label">
                            <label>Enable the standalone checkout</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_saco_active>
                        <checkout_redirect_url translate="label">
                            <label>Set the full checkout redirect url</label>
                            <comment>i.e. https://www.vendor.nl/checkout/cart?source=app</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_redirect_url>
                        <checkout_override_storeview translate="label">
                            <label>The store view in which the orders should be saved</label>
                            <frontend_type>select</frontend_type>
                            <source_model>highstreet_hsapi/system_config_stores</source_model>
                            <sort_order>92</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_override_storeview>
                        <attribute_sort_order translate="label">
                            <label>Adjust the product sort order</label>
                            <comment>JSON encoded string, formatted as {"attribute_name":"sortorder",...}</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attribute_sort_order>
                        <heading_account>
                            <label><![CDATA[New Account Configuration]]></label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_account>
                        <new_account_email_enabled>
                            <label>Send Custom New Account Email Template</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>119</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </new_account_email_enabled>
                        <new_account_email_template>
                            <label>New Account Email Template</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>120</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <depends>
                                <new_account_email_enabled>1</new_account_email_enabled>
                            </depends>
                        </new_account_email_template>
                    </fields>
                </api>
                <developer>
                    <label>Developer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_general>
                            <label><![CDATA[Developer Options]]></label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_general>
                        <log_enabled translate="label">
                            <label>Enable Logging</label>
                            <comment>var/log/Highstreet_HSAPI.log</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </log_enabled>
                    </fields>
                </developer>
            </groups>                
        </highstreet_hsapi>
    </sections>  
</config>