<?xml version="1.0"?>
<config>
    <modules>
        <Progos_NewArrivals>
            <version>1.0.0</version>
        </Progos_NewArrivals>
    </modules>
    <global>
        <helpers>
            <newarrivals>
                <class>Progos_NewArrivals_Helper</class>
            </newarrivals>
        </helpers>
        <blocks>
            <newarrivals>
                <class>Progos_NewArrivals_Block</class>
            </newarrivals>
        </blocks>
        <models>
            <newarrivals>
                <class>Progos_NewArrivals_Model</class>
                <resourceModel>newarrivals_mysql4</resourceModel>
            </newarrivals>
            <newarrivals_mysql4>
                <class>Progos_NewArrivals_Model_Mysql4</class>
                <entities>
                    <newarrivals>
                        <table>newarrivals_categories</table>
                    </newarrivals>
                </entities>
            </newarrivals_mysql4>
        </models>
        <resources>
            <newarrivals_setup>
                <setup>
                    <module>Progos_NewArrivals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newarrivals_setup>
            <newarrivals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newarrivals_write>
            <newarrivals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newarrivals_read>
        </resources>
    </global>
    <admin>
        <routers>
            <newarrivals>
                <use>admin</use>
                <args>
                    <module>Progos_NewArrivals</module>
                    <frontName>admin_newarrivals</frontName>
                </args>
            </newarrivals>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <newarrivals_catalog_product_save_after_handler>
                        <type>singleton</type>
                        <class>newarrivals/observer</class>
                        <method>afterProductSave</method>
                    </newarrivals_catalog_product_save_after_handler>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <newarrivals_catalog_category_save_commit_after_handler>
                        <type>singleton</type>
                        <class>newarrivals/observer</class>
                        <method>afterCategorySave</method>
                    </newarrivals_catalog_category_save_commit_after_handler>
                </observers>
            </catalog_category_save_after>
        </events>

        <menu>
            <catalog>
                <children>
                    <newarrivals module="newarrivals">
                        <title>NewArrivals</title>
                        <sort_order>100</sort_order>
                        <children>
                            <newarrivals module="newarrivals">
                                <title>Manage Newarrivals</title>
                                <sort_order>0</sort_order>
                                <action>admin_newarrivals/adminhtml_newarrivals/new</action>
                            </newarrivals>
                            <expired module="newarrivals">
                                <title>Manage Expired</title>
                                <sort_order>10</sort_order>
                                <action>admin_newarrivals/adminhtml_newarrivals/old</action>
                            </expired>
                        </children>
                    </newarrivals>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                    <catalog>
                    <children>
                        <newarrivals translate="title" module="newarrivals">
                            <title>NewArrivals</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <newarrivals translate="title">
                                    <title>Manage Newarrivals</title>
                                    <sort_order>0</sort_order>
                                </newarrivals>
                                <expired translate="title">
                                    <title>Manage Expired</title>
                                    <sort_order>10</sort_order>
                                </expired>
                            </children>
                        </newarrivals>
                    </children>
                    </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <newarrivals>
                    <file>newarrivals.xml</file>
                </newarrivals>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <new_arrival_categories>
                <schedule>
                    <cron_expr></cron_expr>
                </schedule>
                <run>
                    <model>newarrivals/cron::newArrivalCategories</model>
                </run>
            </new_arrival_categories>
            <new_arrival_add_products>
                <schedule>
                    <cron_expr></cron_expr>
                </schedule>
                <run>
                    <model>newarrivals/cron::newArrivalProducts</model>
                </run>
            </new_arrival_add_products>
            <expired_new_arrival_products>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>newarrivals/cron::removeNewProducts</model>
                </run>
            </expired_new_arrival_products>
        </jobs>
    </crontab>
</config> 