<?xml version="1.0"?>
<config>
  <modules>
    <Progos_Defaultstore>
      <version>1.0.0</version>
    </Progos_Defaultstore>
  </modules>
  <global>
    <helpers>
      <defaultstore>
        <class>Progos_Defaultstore_Helper</class>
      </defaultstore>
    </helpers>
      <models>
          <defaultstore>
              <class>Progos_Defaultstore_Model</class>
          </defaultstore>
      </models>
      <resources>
          <defaultstore_setup>
              <setup>
                  <module>Progos_Defaultstore</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </defaultstore_setup>
          <defaultstore_write>
              <connection>
                  <use>core_write</use>
              </connection>
          </defaultstore_write>
          <defaultstore_read>
              <connection>
                  <use>core_read</use>
              </connection>
          </defaultstore_read>
      </resources>
  </global>
    <default>
        <general>
            <country>
                <enable>0</enable>
                <defaultstore>ar_ae</defaultstore>
                <defaultlang>1</defaultlang>
                <logIp>0</logIp>
            </country>
        </general>
    </default>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <progos_defaultstore>
                        <class>Progos_Defaultstore_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </progos_defaultstore>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <default_store_update>
                <schedule>
                    <cron_expr>0 2 8 * *</cron_expr>
                </schedule>
                <run>
                    <model>defaultstore/cron::updateGeoIpDb</model>
                </run>
            </default_store_update>
        </jobs>
    </crontab>
</config> 