<?xml version="1.0"?>
<config>
  <modules>
    <Progos_CategoryInformation>
      <version>0.1.4</version>
    </Progos_CategoryInformation>
  </modules>
    <global>
      <resources>
          <categoryinformation_setup>
            <setup>
              <module>Progos_CategoryInformation</module>
              <class>Mage_Eav_Model_Entity_Setup</class>
            </setup>
            <connection>
              <use>default_setup</use>
            </connection>
          </categoryinformation_setup>
      </resources>
      <models>
        <categoryinformation>
          <class>Progos_CategoryInformation_Model</class>
        </categoryinformation>
      </models>
    </global>
</config>