<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Responsys>
            <version>1.0.0</version>
        </Progos_Responsys>
    </modules>
    <global>
        <helpers>
            <progos_responsys>
                <class>Progos_Responsys_Helper</class>
            </progos_responsys>
        </helpers>
        <models>
            <progos_responsys>
                <class>Progos_Responsys_Model</class>
            </progos_responsys>
        </models>
        <events>
            <progos_newsletter_subscriber_save_after>
                <observers>
                    <progos_responsys_model_observer>
                        <class>Progos_Responsys_Model_Observer</class>
                        <method>addCustomerEntryOnNewsletterSubscription</method>
                    </progos_responsys_model_observer>
                </observers>
            </progos_newsletter_subscriber_save_after>
            <customer_save_after>
                <observers>
                    <progos_responsys_customer_save_after>
                        <class>Progos_Responsys_Model_Observer</class>
                        <method>addCustomerEntryOnAccountCreation</method>
                    </progos_responsys_customer_save_after>
                </observers>
            </customer_save_after>
            <sales_order_place_after>
                <observers>
                    <progos_responsys_sales_order_place_after>
                        <class>Progos_Responsys_Model_Observer</class>
                        <method>addCustomerEntryOnOrderPlace</method>
                    </progos_responsys_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>
