<?xml version="1.0"?>
<!--
/**
 * This Module will update Products Attribute values against Arabic and english values
 * Attributes  will be provided in CSV file as per pre defined Format
 *
 * @category       Progos
 * @package        Progos_ProductsUpdater
 * @copyright      Progos Tech (c) 2017
 * @Author         Hassan Ali Shahzad
 * @date           15-08-2017 12:04
 */
-->
<config>
    <modules>
        <Progos_ProductsUpdater>
            <version>0.0.1</version>
        </Progos_ProductsUpdater>
    </modules>
    <global>
        <helpers>
            <productsupdater>
                <class>Progos_ProductsUpdater_Helper</class>
            </productsupdater>
        </helpers>
        <blocks>
            <productsupdater>
                <class>Progos_ProductsUpdater_Block</class>
            </productsupdater>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Progos_ProductsUpdater before="Mage_Adminhtml">Progos_ProductsUpdater_Adminhtml</Progos_ProductsUpdater>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productsupdater>
                    <file>productsupdater.xml</file>
                </productsupdater>
            </updates>
        </layout>
    </adminhtml>
</config> 