<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Syncproduct>
            <version>1.0.1</version>
        </Progos_Syncproduct>
    </modules>
    <global>
        <helpers>
            <progos_syncproduct>
                <class>Progos_Syncproduct_Helper</class>
            </progos_syncproduct>
        </helpers>
        <models>
            <progos_syncproduct>
                <class>Progos_Syncproduct_Model</class>
                <resourceModel>progos_syncproduct_mysql4</resourceModel>
            </progos_syncproduct>
            <progos_syncproduct_mysql4>
                <class>Progos_Syncproduct_Model_Mysql4</class>
                <entities>
                    <syncproduct>
                        <table>syncproduct</table>
                    </syncproduct>
                </entities>
            </progos_syncproduct_mysql4>
        </models>
        <resources>
            <syncproduct_setup>
                <setup>
                    <module>Progos_Syncproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </syncproduct_setup>
            <syncproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </syncproduct_write>
            <syncproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </syncproduct_read>
        </resources>
        <blocks>
            <progos_syncproduct>
                <class>Progos_Syncproduct_Block</class>
            </progos_syncproduct>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <syncproduct>
                    <file>syncproduct.xml</file>
                </syncproduct>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <progos_syncproduct>
                <use>standard</use>
                <args>
                    <frontName>syncproduct</frontName>
                    <module>Progos_Syncproduct</module>
                </args>
            </progos_syncproduct>
        </routers>
    </frontend>
    <admin>
        <routers>
            <!--<syncproduct_process>-->
                <!--<use>admin</use>-->
                <!--<args>-->
                    <!--<module>Progos_Syncproduct</module>-->
                    <!--<frontName>admin_syncproduct</frontName>-->
                <!--</args>-->
            <!--</syncproduct_process>-->

            <syncproduct>
                <use>admin</use>
                <args>
                    <module>Progos_Syncproduct</module>
                    <frontName>syncproduct</frontName>
                </args>
            </syncproduct>

        </routers>
    </admin>
</config>
