<?xml version="1.0"?>

<config>
    <modules>
        <Progos_Csales>
            <version>1.2.0</version>
        </Progos_Csales>
    </modules>

    <global>
        <blocks>
            <sales>
                <rewrite>
                    <order_creditmemo_totals>Progos_Csales_Block_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <!-- Model -->
                    <order_shipment_api>Progos_Csales_Model_Order_Shipment_Api</order_shipment_api>
                </rewrite>
            </sales>
        </models>
        <resources>
            <progos_csales_setup>
                <setup>
                    <module>Progos_Csales</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </progos_csales_setup>

            <progos_csales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </progos_csales_write>

            <progos_csales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </progos_csales_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <progos_csales before="Mage_Adminhtml">Progos_Csales_Adminhtml</progos_csales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>