<!--@subject Email - Footer @-->
                    <!-- End Content -->
<!--                     </td>
                </tr>
            </table>
Mobile Footer
            <h5 class="closing-text">Thank you, {{var store.getFrontendName()}}!</h5>
        </td>
    </tr>
</table> -->
</td></tr>
<tr><td><footer style="text-align:center;">
        <div style="border:1px solid #bbb; padding:20px 9px 0;">
        <div style="text-align:center; width:81%; display:block; padding:0;margin:0 auto;">
        <nav style="font-size:15px; line-height:17px;">
          <ul style="margin:0; padding:0 0 30px;; list-style:none; display:inline-block;">
              <li style="display:inline-block; padding:0 12px 0 15px; text-transform:uppercase; margin:0;">follow us</li>
                <li style="display:inline-block; padding:0 13px 0 0; text-transform:uppercase; margin:0;">@ELABElZME</li>
            </ul>
            <ul style="margin:0; padding:0 0 30px; list-style:none;display:inline-block;">
              <li style="display:inline-block; padding:0 7px; margin:0;"><a href="https://www.facebook.com/elabelzME/"><img src="http://elephantationlabs.com/zlebelz_email/image/fb.png" alt="image descripation"></a></li>
              <li style="display:inline-block; padding:0 7px; margin:0;"><a href="https://twitter.com/elabelzme"><img src="http://elephantationlabs.com/zlebelz_email/image/twitter.png" alt="image descripation"></a>
              <li style="display:inline-block; padding:0 7px; margin:0;"><a href="https://www.instagram.com/elabelzme/"><img src="http://elephantationlabs.com/zlebelz_email/image/frama.jpg" alt="image descripation"></a></li>
            </ul>
          </nav>
          </div>
<div style="clear:both;"></div>
<table width="100%" style="width:100%;" border="0"><tr>
          <td><div style="display:block;margin:0 auto;width:190px;text-align:center;font-size:12px; line-height:14px; height:100px;vertical-align:top; font-weight:normal;">
            <h2 style="margin:0 0 10px;font-size:13px;line-height:15px; font-weight:bold; text-transform:uppercase;">cash on delivery</h2>
            <p style=" margin:0;">Cash on delivery. Credit Card.<br/>
              Your choice!</p>
              </div>
          </td>
          <td><div style="display:block;margin:0 auto;width:190px;text-align:center; font-size:12px;line-height:14px; height:100px; vertical-align:top; font-weight:normal;">
            <h2 style="margin:0 0 10px;font-size:13px;line-height:15px; font-weight:bold; text-transform:uppercase;">free delivery</h2>
            <p style=" margin:0;">Next day Delivery within UAE, 2-3 days delivery across GCC.</p>
            </div>
          </td>
          <td><div style="display:block; width:190px; margin: 0 auto;text-align:center; font-size: 12px; line-height: 14px; height: 100px; vertical-align: top; font-weight: normal;">
            <h2 style="margin:0 0 10px;font-size:13px;line-height:15px; font-weight:bold; text-transform:uppercase;">FREE EXCHANGE</h2>
            <p style=" margin:0;"> Free exchange with no hassle or complications</p>
            </div>
          </td>
</tr></table>   
        </div>
        <div style="padding:15px 32px 20px; font-family:Tahoma, Arial, 'Segoe UI', sans-serif;font-size:14px;line-height:20px;box-sizing:border-box; border:1px solid #b4b4b4; border-top:0; margin:0 0 15px; text-align:left;">
          <h2 style="margin:0 0 10px;font-size:14px;line-height:16px; font-family:Tahoma, Arial, 'Segoe UI', sans-serif; text-transform:uppercase;">NEED ANY FURTHER ASSISTANCE</h2>
            <p style="margin:0 0 10px; font-size:12px;">Call us on {{config path="general/store_information/phone"}}. Available {{var store_hours}}.</p>
        </div>
        <div style="font-family:Tahoma, Arial, 'Segoe UI', sans-serif;font-size:11px; line-height:13px; color:#000; font-weight:normal; text-align:left; padding:5px;">
        <p style="margin:0 0 10px;">Terms and Conditions</p>
        <p style="margin:0 0 10px;"><a href="{{store url="terms-of-use"}}" style="text-decoration:underline;color:#000;">Click here</a> to see full terms and conditions. </p>
        <p style="margin:0 0 10px;">This email was sent to <a href="mailto:{{var customer.email}}" style="color:#358afe; text-decoration:none;">{{var customer.email}}</a>.</p>
        <p style="margin:0 0 10px;">To ensure that our messages are sent straight to your inbox and not your junk or bulk email folders please add <span style="font-weight:bold;">{{config path="trans_email/ident_support/email"}}</span> to your address book.</p>
        <p style="margin:0 0 10px;">We respect the privacy of personal email accounts. To stop receiving our news in the future please <a href="{{var subscriber.getUnsubscriptionLink()}}" style="text-decoration:underline;color:#000;">Click here</a> </p>
        </div>
      </footer></td>
  </tr>
</table>
<!-- End wrapper table -->
</body>
