<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
{{var non_inline_styles}}
<!-- Begin wrapper table -->
<!-- <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tr>
        <td valign="top" class="container-td" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" class="logo-container">
                            <tr>
                                <td class="logo">
                                    <a href="{{store url=""}}">
                                        <img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="341"
                                            {{/if}}

                                            {{if logo_height}}
                                            height="{{var logo_height}}"
                                            {{else}}
                                            height="54"
                                            {{/if}}

                                            src="{{var logo_url}}"
                                            alt="{{var logo_alt}}"
                                            border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="top-content"> -->
<!-- Begin Content -->
<table width="648" height="117" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; font-family:Tahoma, Arial, 'Segoe UI', sans-serif; width:100%; max-width:648px; color: #000;">
<tr>
    <td style="text-align:center;">Mobile Header
<header style="height:33px; text-align:center; border:1px solid #bbb; padding:17px 17px 10px;"><a href="{{store url=""}}"><img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="341"
                                            {{/if}}

                                            {{if logo_height}}
                                            height="{{var logo_height}}"
                                            {{else}}
                                            height="54"
                                            {{/if}}

                                            src="{{var logo_url}}"
                                            alt="{{var logo_alt}}"
                                            border="0"/></a></header>
      <nav style="text-align:center;font-weight:400;font-family:Tahoma, Arial, 'Segoe UI', sans-serif;">
        <ul style="margin:0;padding:0; list-style:none; border:1px solid #bbb; font-size:15px; line-height:17px; text-transform:uppercase;">
          <li style="display:inline-block; padding:14px 9px 11px;"><a href="{{store direct_url="what-is-new/"}}" style="text-decoration:none; color:#000;">what’s new</a></li>
          <li style="display:inline-block; padding:14px 9px 11px;"><a href="{{store direct_url="women/"}}" style="text-decoration:none; color:#000;">women</a></li>
          <li style="display:inline-block; padding:14px 9px 11px;"><a href="{{store direct_url="men/"}}" style="text-decoration:none; color:#000;">men</a></li>
          <li style="display:inline-block; padding:14px 9px 11px;"><a href="{{store direct_url="kids/"}}" style="text-decoration:none; color:#000;">Kids</a></li>
        </ul>
      </nav></td>
mobile test
  </tr>
  <td valign="top" class="top-content">