<?xml version="1.0"?>
<config>
    <modules>
        <Progos_Mergeinfo>
            <version>0.1.0</version>
        </Progos_Mergeinfo>
    </modules>
    <frontend>
        <routers>
            <progos_mergeinfo>
                <use>standard</use>
                <args>
                    <module>Progos_Mergeinfo</module>
                    <frontName>progos_mergeinfo</frontName>
                </args>
            </progos_mergeinfo>
        </routers>
    </frontend>
    <global>
        <models>
            <progos_mergeinfo>
                <class>Progos_Mergeinfo_Model</class>
            </progos_mergeinfo>
        </models>
        <rewrite>
            <progos_mergeinfo_onepagecontroller>
                <from><![CDATA[#^/mergeinfo/onepage/#]]></from>
                <to>/progos_mergeinfo/onepage/</to>
            </progos_mergeinfo_onepagecontroller>
        </rewrite>
        <helpers>
            <progos_mergeinfo>
                <class>Progos_Mergeinfo_Helper</class>
            </progos_mergeinfo>
        </helpers>
    </global>
</config>